################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RayTracer/v15/Server/sqlite3/storage.ide-wal
/.vs/RayTracer/v15/Server/sqlite3/storage.ide-shm
/RayTracer/bin/Debug/RayTracer.pdb
/RayTracer/bin/Debug/RayTracer.exe.config
/RayTracer/bin/Debug/RayTracer.exe
